langchain-huggingface==1.2.0
langchain-chroma==1.1.0
sentence-transformers
langchain>=0.1.0
langchain-text-splitters>=0.2.0
pandas==2.2.2
numpy==1.26.4
ftfy==6.2.3
tqdm==4.66.2
pdfplumber
fastapi
uvicorn
python-dotenv
qdrant-client
python-multipart
sqlalchemy
psycopg2-binary
sqlmodel
requests
